[submodule "lib-externes/AboutDialog-Delphi-Component"]
	path = lib-externes/AboutDialog-Delphi-Component
	url = https://github.com/DeveloppeurPascal/AboutDialog-Delphi-Component.git
[submodule "lib-externes/DelphiBooks-Common"]
	path = lib-externes/DelphiBooks-Common
	url = https://github.com/DeveloppeurPascal/DelphiBooks-Common.git
[submodule "lib-externes/DelphiBooks-WebSite"]
	path = lib-externes/DelphiBooks-WebSite
	url = https://github.com/DeveloppeurPascal/DelphiBooks-WebSite.git
